URxvt*font: xft:DejaVu Sans Mono:pixelsize=15
URxvt.perl-ext-common: default,matcher,searchable-scrollback,clipboard,url-select,keyboard-select
URxvt.url-select.launcher: chromium
URxvt.url-select.underline: true
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
*internalBorder: 0
*jumpScroll: true
*pointerBlank: true
*saveLines: 4000
*secondaryScroll: true
*scrollBar: false
*scrollTtyKeypress: true
*scrollWithBuffer: true
*urlLauncher: chrome
*background: #161919
*foreground: #cccccc
*cursorColor: orange
*colorUL: #c5f779
*underlineColor: #c5f779
*color0: #000000
*color1: #e62038
*color2: #aece92
*color3: #968a38
*color4: #8686db
*color5: #963c59
*color6: #418179
*color7: #bebebe
*color8: #666666
*color9: #cf6171
*color10: #c5f779
*color11: #fff796
*color12: #4186be
*color13: #cf9ebe
*color14: #71bebe
*color15: #ffffff
